<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre|Averia+Libre|IM+Fell+DW+Pica+SC|Londrina+Sketch" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='materialize.css')}}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>Blocks</title>

</head>

<body>
  <style media="screen">

    h1, h3 {
      font-family: 'Londrina Sketch', cursive;
    }

    .used_letter {
      color: black;
    }

    .blocks {
      font-family: my_font, 'Londrina Sketch', serif;
    }

    .letter {
      font-family: 'IM Fell DW Pica SC', serif;
      font-size: 200%;
      display: inline-block;
      border-style: solid #fff2c4;
      border-radius: 5px;
      margin-right: 5px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      background-color: #fff7dd;
    }

    .unused {
      background-color: #fffbef;
    }
  </style>

  <div class="container">
    <div class="row" style="margin-bottom:0px;">
      <div class="col s12 m8 l5 offset-m2 offset-l4">
        <h1 style="margin-bottom:0px;">CAN YOU SPELL IT?</h1>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 l4 offset-l4 offset-m2">
        <h6 class="grey-text" style="margin-top:0px;margin-bottom:7%;">Check to see what words and phrases you can spell with Chatterblocks from <a href="https://www.maplelandmark.com">Maple Landmark</a></h6>
        <span class="" id="result"></span>
      </div>
    </div>

    <div class="row">
      <div class="form col s12 m8 l4 offset-l4 offset-m2">
        <div class="input-field">
        <label for="search_term">Phrase to check</label>
        <input type="text" id="search_term" name="search_term">
        <button class="btn-large cyan accent-2 waves-effect waves-light black-text" type="submit" id="sub_btn" name="action" onclick="check()" style="width:100%;">Check</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="block_result" class="col s12 m8 l4 offset-l4 offset-m2" hidden=True>
        <h3>How to do it:</h3>
        <div id="blocks_used">

        </div>
        <div id="blocks_unused">

        </div>
      </div>
    </div>

  </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
  function check() {
    var search_term_var = $('input[name="search_term"]').val()
    $.getJSON('/check', {
      search_term: search_term_var
    }, function(data) {
      if (data.result == true) {
        $("#block_result").show()
        $("p").remove();
        $("#result").text("Yep, you can spell: \"" + (search_term_var) + "\"");
        var blocks = data.blocks;
        console.log(blocks)
        for (var block in blocks) {
          var block_letters = blocks[block][0]
          var txt = "";
          for (var ltr in block_letters) {
            if (block_letters[ltr] == "<3") {
              console.log(block_letters[ltr])
              if (block_letters[ltr] == blocks[block][1]) {
                txt = txt + "<div class ='letter'><span class='used_letter'>" + "<i class='fas fa-heart'></i>" + "</span></div>"
              }
              else {
                txt = txt + "<div class='letter'>" + "<i class='fas fa-heart'></i>" + "</div>";
              }
            }
            else {
              if (block_letters[ltr] == blocks[block][1]) {
                txt = txt + "<div class ='letter'><span class='used_letter'>" + block_letters[ltr] + "</span></div>"
              }
              else {
                txt = txt + "<div class='letter'>" + block_letters[ltr] + "</div>";
              }
            }
          }
          if (blocks[block][1] != null) {
            $("#blocks_used").append($("<p class ='grey-text'></p>").html(txt));

            // console.log($('p:last-child').html());
          }
          else {
            $("#blocks_unused").append($("<p class='grey-text text-lighten-2'></p>").html(txt));
            $(".text-lighten-2 > .letter").addClass("unused")
          }
        }
      }
      else {
        $("#block_result").hide()
        $("p").remove();
        $("#result").text("No go...");
      }
    });
  };
</script>
<script type="text/javascript">
  $('#search_term').keypress(function(e) {
    if (e.which == 13) {
      $('#sub_btn').click();
    }
  });
</script>

</body>
</html>
